<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
    <link rel="stylesheet" href="/css/members/joinForm-style.css">
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>

<div class="wrap">
    <h2>숨고에 오신것을 환영합니다</h2>
    <div class="joinForm">
        <form>
            <div class="form-group">
                <label for="name" style="font-size: x-large;">이름</label>
                <input type="text" class="form-control" placeholder="이름(실명)을 입력해주세요" id="name">
            </div>
            <div class="form-group">
                <label for="email" style="font-size: x-large;">이메일</label>
                <input type="email" class="form-control" placeholder="example@example.com" id="email">
            </div>
            <div class="form-group">
                <label for="password" style="font-size: x-large;">패스워드</label>
                <input type="password" class="form-control" placeholder="5자리 이상 입력해주세요" id="password">
            </div>

        </form>
        <button id="btn-join" class="btn align-self-center"
                style="background-color: #0abab5; color: #ffffff;">회원가입
        </button>
    </div>
</div>
<script src="/js/members/member.js"></script>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
</body>
</html>
