<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
    <link rel=stylesheet href="/css/common/common-form-style.css">
    <link rel=stylesheet href="/css/members/recovery-password-style.css">
    <script src="/js/members/recoveryPassword.js" defer></script>
</head>
<body>
<header th:replace="/layout/nav.html :: fragment-nav"></header>
<main>
    <div class="wrap">
        <div class="recovery-form">
            <h1>비밀번호 찾기</h1>
            <form id="login-form">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" placeholder="김고수" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" placeholder="example@catcher.com" id="email" name="email">
                </div>
                <button id="btn-join" class="btn align-self-center">이메일에 전송하기</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
</body>
</html>
