<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div th:replace="/layout/header.html :: fragment-header"></div>
    <style>
        h2 {
            text-align: center;
        }

        .section {
            width: 33.33%;
            float: left;
            padding: 20px;
        }

        .btn-outline-custom {
            background-color: #fff;
            border-color: #00c7ae;
            color: #00c7ae;
        }

        .profile-section {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .profile-pic {
            width: 160px;
            height: 160px;
            background-size: cover;
            border-radius: 10px;
            margin-right: 30px;
            background-image: url('/img/cat.jpeg');
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .overview {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: gray;
        }

        .item {
            margin-right: 20px;
            text-align: center;
        }

        .point {
            font-weight: bold;
            color: black;
            font-size: 2em;
        }

        .item:last-child {
            margin-right: 0;
            padding-left: 20px;
            border-left: 1px solid #ccc;
        }

        .btn-outline-primary {
            color: #00c7ae;
            border-color: #00c7ae;
        }

        .my-profile-body {
            margin-top: 60px;
        }

        .my-profile-body span:first-child {
            color: black;
        }

        .my-profile-body span:last-child {
            color: gray;
        }

        .key-font {
            font-weight: bold;
            color: black;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .value-font {
            color: gray;
            font-size: 17px
        }

        .button-font {
            color: #00c7ae !important;
            font-size: 20px;
            cursor: pointer;
        }

        .my-profile-body {
            margin-top: 60px;
            padding-bottom: 20px;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            position: relative;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            top: 10px;
            right: 20px;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
</head>
<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>

<div id="app-body">
    <div class="container">
        <div class="row no-gutters">
            <div class="profile-section">
                <div class="my-profile-head" style="display: flex; align-items: center;">
                    <div class="thumb-container" style="position: relative;">
                        <div class="thumb">
                            <div class="user-profile-picture profile-pic" id="profile-pic"></div>
                            <button data-target="#profileImageModal" data-toggle="modal"
                                    style="position: absolute; right: 40px; bottom: 10px; border: none; background-color: rgba(255,255,255,0.7); border-radius: 50%; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;">
                                <i class="fa fa-pencil" style="font-size: 24px;"></i>
                            </button>
                        </div>
                    </div>

                    <div class="info">
                        <ul class="overview">
                            <li class="item">
                                <div class="point" id="rating">2</div>
                                <div class="label">리뷰 평점</div>
                            </li>
                            <li class="item">
                                <div class="point" id="reviewCount">10</div>
                                <div class="label">리뷰수</div>
                            </li>
                        </ul>
                        <span class="btn dashboard-btn btn-outline-primary" onclick="openEditModal()">프로필 수정</span>
                    </div>
                </div>

                <div class="my-profile-body"
                     style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div style="display: flex; flex-direction: column; align-items: start;">
                            <span class="key-font">이름</span>
                            <span class="value-font" id="storeName">철수</span>
                        </div>
                    </div>
                </div>

                <div class="my-profile-body"
                     style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div style="display: flex; flex-direction: column; align-items: start;">
                            <span class="key-font">한줄소개</span>
                            <span class="value-font" id="description">안녕하세요!</span>
                        </div>
                    </div>
                </div>

                <div class="my-profile-body"
                     style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div style="display: flex; flex-direction: column; align-items: start;">
                            <span class="key-font">활동 지역</span>
                            <span class="value-font" id="location">서울시 강남구</span>
                        </div>
                    </div>
                </div>

                <div class="my-profile-body"
                     style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div style="display: flex; flex-direction: column; align-items: start;">
                            <span ; class="key-font">이동가능거리</span>
                            <span class="value-font" id="maxTravelDistance">5km</span>
                        </div>
                    </div>
                </div>

                <div class="my-profile-body"
                     style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div style="display: flex; flex-direction: column; align-items: start;">
                            <span class="key-font">제공 서비스</span>
                            <div class="value-font" id="sub-items">영어 과외</div>
                        </div>
                        <span class="button-font" id="add-sub-items">추가</span>
                    </div>
                </div>

                <div class="my-profile-body"
                     style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div style="display: flex; flex-direction: column; align-items: start;">
                            <span class="key-font">사진</span>
                            <div class="value-font" id="imagesContainer" style="display: flex; gap: 10px;">
                                <div class="image-item" style="position: relative;">
                                    <img alt="default image" src="/img/dog.jpeg"
                                         style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;"/>
                                </div>
                            </div>
                        </div>
                        <span class="button-font" onclick="openImageUploadModal()">추가</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="profileImageModalLabel" class="modal fade" id="profileImageModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered modal-select-profile-image" style="max-width: 150%;">
            <div class="modal-content">
                <header class="modal-header">
                    <h5 class="modal-title">프로필 사진 등록</h5>
                </header>
                <div class="modal-body">
                    <div class="custom-file b-form-file file mb-2" id="__BVID__773__BV_file_outer_">
                        <input accept="jpg,jpeg,png,gif,bmp,jpeg2000,heic" class="custom-file-input" id="__BVID__773"
                               style="z-index: -5;" type="file">
                        <label class="custom-file-label" data-browse="Browse" for="__BVID__773">
                            <span class="d-block form-file-text" style="pointer-events: none;">No file chosen</span>
                        </label>
                    </div>

                    <button class="btn file-input btn-outline-custom btn-block" onclick="uploadProfileImage()"
                            type="button">사진 등록하기
                    </button>
                    <button class="btn btn-outline-custom btn-block" onclick="setDefaultProfileImage()" type="button">
                        기본 이미지로 변경
                    </button>
                    <button class="btn btn-cancel btn-secondary btn-sm btn-block" data-dismiss="modal" type="button">
                        취소
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p style="color: #00c7ae;">서비스 아이템 선택:</p>
        <select id="subItemSelect" style="margin-bottom: 20px;">
            <option value="화장실 청소">화장실 청소</option>
            <option value="주방 청소">주방 청소</option>
            <option value="욕실 청소">욕실 청소</option>
            <option value="이사 청소">이사 청소</option>
            <option value="영어 과외 알바">영어 과외 알바</option>
            <option value="베이커리 알바">베이커리 알바</option>
            <option value="베이커리 알바">목공소 알바</option>
            <option value="베이커리 알바">단기 알바</option>
            <option value="베이커리 알바">웹 개발</option>
            <option value="베이커리 알바">앱 개발</option>
            <option value="베이커리 알바">게임 개발</option>
            <option value="베이커리 알바">소프트웨어 개발</option>
            <option value="베이커리 알바">영어 레슨</option>
            <option value="베이커리 알바">피아노 레슨</option>
            <option value="베이커리 알바">첼로 레슨</option>
            <option value="베이커리 알바">타악기 레슨</option>
            <option value="포토샵 레슨">포토샵 레슨</option>
            <option value="영어 회화">영어 회화</option>
            <option value="중국어 회화">중국어 회화</option>
            <option value="독일어 회화">독일어 회화</option>
            <option value="러시아어 회화">러시아어 회화</option>
        </select>
        <button onclick="addSubItemToExpert()" style="background-color: white; color: #00c7ae; border: none;">추가하기
        </button>
    </div>
</div>

<div class="modal" id="editModal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <p style="color: #00c7ae;">프로필 수정</p>

        <label for="storeName">업체명:</label>
        <input id="storeNameInput" type="text">

        <label for="location">위치:</label>
        <input id="locationInput" type="text">

        <label for="maxTravelDistance">거리(km):</label>
        <input id="maxTravelDistanceInput" type="number">

        <label for="description">부가 설명:</label>
        <textarea id="descriptionInput"></textarea>

        <button onclick="submitEdit()" style="margin-top: 20px; background-color: white; color: #00c7ae; border: none;">
            수정하기
        </button>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="imageUploadModalLabel" class="modal fade" id="imageUploadModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-centered modal-select-image" style="max-width: 150%;">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">이미지 등록</h5>
            </header>
            <div class="modal-body">
                <div class="custom-file b-form-file file mb-2" id="__BVID__774__BV_file_outer_">
                    <input accept="jpg,jpeg,png,gif,bmp,jpeg2000,heic" class="custom-file-input" id="__BVID__774"
                           style="z-index: -5;" type="file">
                    <label class="custom-file-label" data-browse="Browse" for="__BVID__774">
                        <span class="d-block form-file-text" style="pointer-events: none;">No file chosen</span>
                    </label>
                </div>
                <button class="btn file-input btn-outline-custom btn-block" onclick="uploadExpertImage()" type="button">
                    사진 등록하기
                </button>
                <button class="btn btn-cancel btn-secondary btn-sm btn-block" data-dismiss="modal" type="button">취소
                </button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

<script>

    async function fetchProfileImage() {
        const token = sessionStorage.getItem('Authorization');

        const options = {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': token
            }
        };

        const response = await fetch('/api/v1/members/profile/images', options);

        if (response.ok) {
            const data = await response.json();
            const imageUrl = data.filenames[0];
            document.getElementById('profile-pic').style.backgroundImage = `url(${imageUrl})`;
        } else {
            alert('프로필 이미지를 불러오는데 실패하였습니다.');
        }
    }

    async function fetchExpertProfile() {
        const token = sessionStorage.getItem('Authorization');

        const options = {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': token
            }
        };

        const response = await fetch('/api/v1/experts', options);

        if (response.ok) {
            const expert = await response.json();
            document.getElementById('rating').innerText = expert.rating;
            document.getElementById('reviewCount').innerText = expert.reviewCount;
            document.getElementById('storeName').innerText = expert.storeName;
            document.getElementById('description').innerText = expert.description;
            document.getElementById('location').innerText = expert.location;
            document.getElementById('maxTravelDistance').innerText = expert.maxTravelDistance + 'km';

        } else {
            alert('Expert 프로필 정보를 불러오는데 실패하였습니다.');
        }
    }

    window.onload = () => {
        fetchProfileImage();
        fetchExpertProfile();
        loadSubItems();
    };

    async function loadSubItems() {
        try {
            const token = sessionStorage.getItem('Authorization');

            const options = {
                method: 'GET',
                headers: {
                    'Authorization': token
                }
            };

            const response = await fetch("/api/v1/experts/sub-items", options);
            const data = await response.json();
            displaySubItems(data.subItemsResponse);
        } catch (error) {
            console.error('서브 아이템 로딩 중 오류 발생:', error);
        }
    }


    function displaySubItems(subItems) {
        const container = document.getElementById('sub-items');
        container.innerHTML = "";

        subItems.forEach(subItem => {
            const button = document.createElement('button');

            button.className = "btn dashboard-btn btn-outline-primary";

            button.style.marginRight = '10px';

            button.innerText = subItem.name;

            const closeButton = document.createElement('span');
            closeButton.innerText = 'x';
            closeButton.onclick = () => removeSubItem(subItem.name);

            closeButton.style.marginLeft = '5px';
            closeButton.style.cursor = 'pointer';

            button.appendChild(closeButton);
            container.appendChild(button);
        });
    }

    async function removeSubItem(subItemName) {

        try {
            const token = sessionStorage.getItem('Authorization');
            const requestBody = {subItemName: subItemName};
            const response = await fetch("/api/v1/experts/sub-items", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': token
                },
                body: JSON.stringify(requestBody),
            });

            if (response.status === 204) {
                loadSubItems();
            } else {
                console.error('서브 아이템 삭제 중 오류 발생:', await response.text());
            }
        } catch (error) {
            console.error('서브 아이템 삭제 중 오류 발생:', error);
        }
    }

    const modal = document.getElementById("myModal");
    const btn = document.getElementById("add-sub-items");
    const span = document.querySelector(".close");

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    async function addSubItemToExpert() {
        const token = sessionStorage.getItem('Authorization');
        const subItemName = document.getElementById('subItemSelect').value;

        const requestBody = {
            subItemName: subItemName
        };

        const response = await fetch("/api/v1/experts/sub-items", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': token
            },
            body: JSON.stringify(requestBody),
        });

        if (response.ok) {
            alert('서브 아이템이 성공적으로 추가되었습니다.');
            loadSubItems();
            modal.style.display = "none";
        } else {
            alert('서브 아이템 추가에 실패하였습니다.');
        }
    }

    function openEditModal() {
        fetchExpertEditProfile();
        const modal = document.getElementById('editModal');
        modal.style.display = "block";
    }

    function closeEditModal() {
        const modal = document.getElementById('editModal');
        modal.style.display = "none";
    }

    async function fetchExpertEditProfile() {
        const token = sessionStorage.getItem('Authorization');

        const options = {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': token
            }
        };

        const response = await fetch('/api/v1/experts', options);

        if (response.ok) {
            const expert = await response.json();
            document.getElementById('storeNameInput').value = expert.storeName;
            document.getElementById('locationInput').value = expert.location;
            document.getElementById('maxTravelDistanceInput').value = expert.maxTravelDistance;
            document.getElementById('descriptionInput').value = expert.description;
        } else {
            alert('Expert 프로필 정보를 불러오는데 실패하였습니다.');
        }
    }

    async function submitEdit() {
        const token = sessionStorage.getItem('Authorization');

        const requestBody = {
            storeName: document.getElementById('storeNameInput').value,
            location: document.getElementById('locationInput').value,
            maxTravelDistance: parseInt(document.getElementById('maxTravelDistanceInput').value),
            description: document.getElementById('descriptionInput').value
        };

        const options = {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': token
            },
            body: JSON.stringify(requestBody)
        };

        const response = await fetch('/api/v1/experts', options);

        if (response.ok) {
            alert('회원정보 수정이 완료되었습니다.');
            closeEditModal();
        } else {
            alert('회원정보 수정에 실패하였습니다.');
        }
    }

    function uploadProfileImage() {
        const token = sessionStorage.getItem('Authorization');
        let inputFile = document.getElementById('__BVID__773');
        let formData = new FormData();
        formData.append('file', inputFile.files[0]);

        fetch('/api/v1/members/profile/images', {
            method: 'POST',
            headers: {
                'Authorization': token
            },
            body: formData
        }).then(response => response.json()).then(data => {
            alert('프로필 이미지가 성공적으로 업로드되었습니다.');
        }).catch(error => {
            alert('프로필 이미지 업로드 중 오류가 발생했습니다.');
        });
    }

    function setDefaultProfileImage() {
        const token = sessionStorage.getItem('Authorization');
        fetch('/api/v1/members/profile/images', {
            method: 'DELETE',
            headers: {
                'Authorization': token
            }
        }).then(response => {
            if (response.ok) {
                alert('프로필 이미지가 기본 이미지로 변경되었습니다.');
            } else {
                alert('프로필 이미지 변경 중 오류가 발생했습니다.');
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        loadImages();
    });

    function loadImages() {
        const token = sessionStorage.getItem('Authorization');

        fetch('/api/v1/experts/images', {
            method: 'GET',
            headers: {
                'Authorization': token
            }
        })
            .then(response => response.json())
            .then(data => {
                renderImages(data.filenames);
            })
            .catch(error => {
                alert('이미지 로딩 중 오류가 발생했습니다.');
            });
    }

    function renderImages(filenames) {
        const container = document.getElementById('imagesContainer');
        container.innerHTML = '';

        filenames.forEach(filename => {
            const imageDiv = document.createElement('div');
            imageDiv.className = "image-item";
            imageDiv.style.position = 'relative';
            imageDiv.style.marginRight = '10px';

            const img = document.createElement('img');
            img.src = filename;
            img.alt = "Image";
            img.style.width = '100px';
            img.style.height = '100px';
            img.style.objectFit = 'cover';
            img.style.borderRadius = '5px';

            const deleteButton = document.createElement('span');
            deleteButton.innerHTML = "x";
            deleteButton.style.position = 'absolute';
            deleteButton.style.top = '0';
            deleteButton.style.right = '0';
            deleteButton.style.cursor = 'pointer';
            deleteButton.onclick = function () {
                deleteImage(filename);
            };

            imageDiv.appendChild(img);
            imageDiv.appendChild(deleteButton);
            container.appendChild(imageDiv);
        });
    }

    function deleteImage(filename) {
        const token = sessionStorage.getItem('Authorization');

        fetch(`/api/v1/experts/images/${filename}`, {
            method: 'DELETE',
            headers: {
                'Authorization': token
            }
        })
            .then(response => {
                if (response.ok) {
                    loadImages();
                } else {
                    alert('이미지 삭제 중 오류가 발생했습니다.');
                }
            })
            .catch(error => {
                alert('이미지 삭제 중 오류가 발생했습니다.');
            });
    }

    function openImageUploadModal() {
        $('#imageUploadModal').modal('show');
    }

    function uploadExpertImage() {
        const token = sessionStorage.getItem('Authorization');
        let inputFile = document.getElementById('__BVID__774');
        let formData = new FormData();
        formData.append('file', inputFile.files[0]);

        fetch('/api/v1/experts/images', {
            method: 'POST',
            headers: {
                'Authorization': token
            },
            body: formData
        }).then(response => response.json()).then(data => {
            alert('이미지가 성공적으로 업로드되었습니다.');
            $('#profileImageModal').modal('hide');
        }).catch(error => {
            alert('이미지 업로드 중 오류가 발생했습니다.');
        });
    }

</script>

</body>
</html>
