<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:replace="/layout/header.html :: fragment-header"></div>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<script src="/js/experts/profile.js" defer></script>
<script>
    $(document).ready(function () {
        loadUserInfo();
        loadUserImage();
        $('#withdrawLink').on('click', function (e) {
            e.preventDefault(); // 기본 동작(링크 이동)을 막음
            deleteMember();
        });
    });
</script>

<div class="container d-flex justify-content-center" style="max-width: 750px;">
    <div class="col ">
        <h2>계정 설정</h2>

        <div class="profile-image d-flex justify-content-center my-5">
            <div class="user_interface">
                <div class="my-3">
                    <img src="https://gosu-catcher.s3.ap-northeast-2.amazonaws.com/default.png" id="profile_image"
                         alt="avatar"
                         class="rounded-circle img-fluid" style="width: 100px; position: inherit">
                </div>
                <div class="image_post" style="margin-bottom: 1em">

                    <button class="btn btn-cancel btn-secondary btn-sm btn-block" data-dismiss="modal"
                            type="button" data-toggle="modal" data-target="#exampleModalCenter">
                        사진 등록하기
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">프로필 사진 등록하기</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input id="file" name="file" type="file">
                                    <button onclick="uploadProfileImage()" data-dismiss="modal">완료</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image_reset">
                    <button class="btn btn-cancel btn-secondary btn-sm btn-block" data-dismiss="modal"
                            type="button" onclick="setDefaultProfileImage()">
                        기본 이미지로 변경
                    </button>

                </div>

            </div>
        </div>


        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">이름</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0" id="name"> 불러오는 중</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">이메일</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0" id="email"> 불러오는 중</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">비밀번호</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0" id="password"> ****** </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">휴대전화 번호</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0" id="phone"> 휴대폰 번호를 추가해주세요</p>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-light" id="withdrawLink" onclick="deleteMember()"
                            style="background-color: white;border-color: white">
                        회원 탈퇴
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@mdo" style="background-color: white;border-color: white">회원정보 수정
                    </button>
                </div>


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">회원정보 수정</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputPhoneNumber">핸드폰 번호를 숫자만 입력해주세요(11자).</label>
                                        <input type="text" class="form-control" id="inputPhoneNumber"
                                               placeholder="01012341234">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">비밀번호를 입력하세요</label>
                                        <input type="password" class="form-control" id="inputPassword"
                                               placeholder="5자리 이상 입력해주세요">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-light" onclick="modifyUserInfo()"
                                        data-dismiss="modal">완료
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
<script>
</script>
</body>
</html>
