#navbar {
    position: fixed;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #fff; /* 배경색을 하얀색으로 설정 */
    border-right: 3px solid #0abab5; /* 테두리를 #0abab5 색상으로 설정 */
    /*transition: left 0.3s; !* 애니메이션 효과를 주기 위한 트랜지션 설정 *!*/
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
}

#navbar {
    padding: 20px;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar ul li {
    padding: 10px;
}

#navbar ul li a {
    color: #000; /* 텍스트 색상을 검은색으로 설정 */
    text-decoration: none;
}

#toggleButton {
    position: fixed;
    top: 20px;
    right: 20px; /* 오른쪽으로 20px 이동 */
}
