<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-md" style="background-color: #ffffff;">
        <a class="navbar-brand" href="/gosu-catcher" style="color: #0abab5; font-weight: bold">Gosu Catcher</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/posts/writeForm" style="color: black;">견적요청</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/writeForm" style="color: black;">고수찾기</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/user/updateForm" style="color: black;">받은견적</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/joinForm" style="color: black;">채팅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/joinForm" style="color: black;">내정보</a>
                </li>
            </ul>

            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/writeForm" style="color: black;">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/writeForm" style="color: black;">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</div>
</html>
