body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    overflow-x: auto; /* 가로 스크롤 허용 */
}

main h2 {
    text-align: left;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 가운데 정렬을 위해 추가 */
    text-align: center; /* 내용 가운데 정렬을 위해 추가 */
    flex-direction: column; /* 내용을 세로로 나열하기 위해 추가 */
}

.card h2 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.card p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.detail-button {
    text-align: center;
    width: 45%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
    margin: 0 auto;
}

.detail-button:hover {
    background-color: #0056b3;
}

.no-estimates {
    text-align: center;
    margin-top: 20px; /* 위쪽 여백 추가 (선택 사항) */
    padding-top: 80px;
    padding-bottom: 200px;
    font-size: 30px; /* 폰트 크기 조정 (선택 사항) */
    color: #555; /* 글자 색상 설정 (선택 사항) */
}
