<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/estimates/member-estimate.css" rel="stylesheet">

</head>
<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<div class="wrap">
    <div class="estimate">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="d-flex flex-column flex-shrink-0 p-3">
                    <div class="input-form">
                        <br><br>
                        <div class="d-flex flex-column flex-shrink-0 p-3 text-center" style="justify-content: center;">
                            <h1 class="display-7">견적서 요청하기</h1>
                        </div>

                        <br>
                        <form novalidate>
                            <div style="margin-bottom: 15px;">
                                <input type="hidden" class="form-control" th:value="${subItemId}" id="subItemId"
                                       th:readonly="readonly">
                                <input type="hidden" class="form-control" th:value="${expertId}" id="expertId"
                                       th:readonly="readonly">

                                <div class="mb-3">
                                    <label for="location" style="font-weight: bold;">서비스 희망 지역</label>
                                    <div>
                                        <select name="addressRegion" id="addressRegion1" onchange="updateLocation()">
                                            <option value="">지역 선택</option>
                                        </select>
                                        <select name="addressDo" id="addressDo1" onchange="updateLocation()">
                                            <option value="">도 선택</option>
                                        </select>
                                        <select name="addressSiGunGu" id="addressSiGunGu1" onchange="updateLocation()">
                                            <option value="">시/군/구 선택</option>
                                        </select>
                                    </div>

                                    <input type="text" class="form-control" id="location" th:readonly="readonly"
                                           style="margin-top:10px; background-color: #E6E6E6;" onfocus="this.blur();"
                                           tabindex="-1">
                                </div>

                                <div class="mb-3">
                                    <label for="preferredStartDate" style="font-weight: bold;">서비스 희망 날짜</label>
                                    <input type="date" id="preferredStartDate" value=""/>
                                </div>

                                <div class="mb-3">
                                    <label for="detailedDescription" style="font-weight: bold;">추가로 알리고 싶은 사항</label>
                                    <textarea class="form-control resizable-input" id="detailedDescription"
                                              name="description"
                                              required></textarea>
                                </div>

                                <hr class="mb-4" style="margin-top: 30px;">
                                <button id="requestButton" class="btn btn-primary btn-lg btn-block" type="button"
                                        style="margin-top: 10px; background-color: #0abab5; border-color: #0abab5;">
                                    요청하기
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="/js/estimates/normal-member-estimate.js"></script>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>

</html>
