h2 {
    font-size: 28px;
    text-align: center;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
}

.wrap {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.03);
}

.form-group label {
    margin-bottom: 5px;

    text-align: left;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 150%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    justify-content: center;
}
